#!/bin/sh

# PROVIDE: knox_server
# REQUIRE: NETWORKING
# KEYWORD: shutdown
#
# Add these lines to /etc/rc.conf or /etc/rc.conf.local:
#
# knox_server_enable="YES"
# knox_server_config="/usr/local/etc/knox/server.yaml"
# knox_server_pidfile="/var/run/knox-server.pid"

. /etc/rc.subr

name="knox_server"
rcvar="knox_server_enable"

load_rc_config "$name"

: ${knox_server_enable:="NO"}
: ${knox_server_config:="/usr/local/etc/knox/server.yaml"}
: ${knox_server_pidfile:="/var/run/knox-server.pid"}

pidfile="${knox_server_pidfile}"
required_files="${knox_server_config}"
command="/usr/sbin/daemon"
command_args="-f -p ${pidfile} /usr/local/bin/knox-server --config ${knox_server_config}"

run_rc_command "$1"
